/* shared style */
.v-align{
    margin-top: 200px;
}
.text-center{
    text-align: center;
}
.secondary-bg{
    background-color: #D6DDED;
}
.text-primary{
    color: #4E47FF;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    border: none ;
    padding: 18px 35px;
    border-radius: 10px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* header */
.header{
    background-image: url('../images/Hero-bg.png');
    height: 698px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/* Nav Styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}

/* Action Section Style */
.action{
    display: flex;
    justify-content: space-between;
    margin: 70px 150px;
}

.action-content{
    max-width: 580px;
}

.action-title{
    font-weight: bold;
    font-size:42px;
}

.action-description{
    font-size: 24px;
}

.action-pic{
    width: 403px;
    border-radius: 48px;
}

/* Productive Section style*/