/* shared style */
.v-align{
    margin-top: 200px;
}
.text-center{
    text-align: center;
}
.secondary-bg{
    background-color: #e8eafe;
}
.text-primary{
    color: #4E47FF;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    border: none ;
    padding: 18px 35px;
    border-radius: 10px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* header */
.header{
    background-image: url('../images/Hero-bg.png');
    height: 698px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/* Nav Styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}

/* Action Section Style */
.action{
    display: flex;
    justify-content: space-between;
    margin: 70px 150px;
}

.action-content{
    max-width: 580px;
}

.action-title{
    font-weight: bold;
    font-size:42px;
}

.action-description{
    font-size: 24px;
}

.action-pic{
    width: 403px;
    border-radius: 48px;
}

/* Productive Section style*/

.productive-section {
  background-color: #f6f8fe;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
}

.stats-container {
  background-color: #e8eafe;
  font-family: "Inter", sans-serif;
  padding: 40px 60px;
  border-radius: 16px;
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.stats-heading {
  font-size: 38px;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 10px;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.stat h3 {
  font-size: 80px;
  color: #4f46e5;
  font-weight: 700;
  margin:5px auto;
}

.stat p {
  font-size: 20px;
  color: #555;
}